<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QLVT_T1" connectionString="Data Source=DESKTOP-9AKIN4S\SQL2012EV;Initial Catalog=QUANLYSINHVIEN;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="QLVT_T2" connectionString="Data Source=172.20.10.3\NTVINH;Initial Catalog=QUANLYCHUOINHAHANG;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
 <add name="QLVT_T3" connectionString="Data Source=172.20.10.6\sql12;Initial Catalog=QUANLYCHUOINHAHANG;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="QUANLYCHUOINHAHANG" connectionString="data source=DESKTOP-RCMIVMT\FUN;initial catalog=QUANLYCHUOINHAHANG;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="bai2.Properties.Settings.QLVATTUConnectionString" connectionString="Data Source=TRAM1-PC\tram1;Initial Catalog=QLVATTU;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
    <add name="bai2.Properties.Settings.QUANLYCHUOINHAHANGConnectionString" connectionString="Data Source=tram1-pc\tram1;Initial Catalog=QUANLYCHUOINHAHANG;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="QUANLYCHUOINHAHANGEntities" connectionString="metadata=res://*/Class.Model1.csdl|res://*/Class.Model1.ssdl|res://*/Class.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tram1-pc\tram1;initial catalog=QUANLYCHUOINHAHANG;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>