
USE [QUANLYCHUOINHAHANG]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[idban] [nvarchar](20) NOT NULL,
	[tenban] [nvarchar](50) NULL,
	[trangthai] [nvarchar](20) NULL,
	[idchinhanh] [nvarchar](10) NULL,
 CONSTRAINT [PK__BAN__0088724AE2C74981] PRIMARY KEY CLUSTERED 
(
	[idban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[idbophan] [nvarchar](20) NOT NULL,
	[tenbophan] [nvarchar](40) NULL,
	[mota] [nvarchar](max) NULL,
	[idchinhanh] [nvarchar](10) NULL,
	[sodienthoai] [nvarchar](24) NULL,
 CONSTRAINT [PK__BOPHAN__36A0B83752E98B64] PRIMARY KEY CLUSTERED 
(
	[idbophan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[idchinhanh] [nvarchar](10) NOT NULL,
	[tenchinhanh] [nvarchar](40) NULL,
	[diachi] [nvarchar](60) NULL,
	[sodienthoai] [nvarchar](24) NULL,
 CONSTRAINT [PK__CHINHANH__021EC5FB9EFC8CFD] PRIMARY KEY CLUSTERED 
(
	[idchinhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[idhoadon] [nvarchar](20) NULL,
	[giahientai] [money] NULL,
	[idmon] [nvarchar](20) NULL,
	[VAT] [float] NULL,
	[Soluong] [smallint] NULL,
	[thanhtien] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADONNHAP]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADONNHAP](
	[idhoadonnhap] [nvarchar](10) NOT NULL,
	[idnguyenlieu] [nvarchar](20) NULL,
	[gianhap] [money] NULL,
	[soluong] [smallint] NULL,
	[thanhtien] [money] NULL,
 CONSTRAINT [PK__CHITIETH__639940C0AC393333] PRIMARY KEY CLUSTERED 
(
	[idhoadonnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETKHO]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKHO](
	[idkho] [nvarchar](20) NULL,
	[idnguyenlieu] [nvarchar](20) NULL,
	[soluongton] [smallint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[idhoadon] [nvarchar](20) NOT NULL,
	[trangthaithanhtoan] [nvarchar](10) NULL,
	[thoigian] [datetime] NULL,
	[code] [nvarchar](250) NULL,
	[idkhachhang] [nvarchar](20) NULL,
	[idban] [nvarchar](20) NULL,
	[idnhanvienthanhtoan] [nvarchar](20) NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK__HOADON__8163CD65583C0BB9] PRIMARY KEY CLUSTERED 
(
	[idhoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONNHAP]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONNHAP](
	[idhoadonnhap] [nvarchar](10) NOT NULL,
	[idnhacungcap] [nvarchar](20) NULL,
	[ngaynhap] [date] NULL,
	[tinhtrang] [nvarchar](5) NULL,
	[idnhanvien] [nvarchar](20) NULL,
	[thanhtien] [money] NULL,
	[IDKHO] [nvarchar](20) NULL,
 CONSTRAINT [PK__HOADONNH__639940C00F368207] PRIMARY KEY CLUSTERED 
(
	[idhoadonnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[idkhachhang] [nvarchar](20) NOT NULL,
	[tenkhachhang] [nvarchar](40) NULL,
	[sodienthoai] [nvarchar](24) NULL,
	[diachi] [nvarchar](40) NULL,
 CONSTRAINT [PK__KHACHHAN__D209FD5D426D40CC] PRIMARY KEY CLUSTERED 
(
	[idkhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[idkho] [nvarchar](20) NOT NULL,
	[tenkho] [nvarchar](40) NOT NULL,
	[diachi] [nvarchar](40) NULL,
	[sodienthoai] [nvarchar](24) NULL,
	[idbophan] [nvarchar](20) NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[idkho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAINGUYENLIEU]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINGUYENLIEU](
	[idloainguyenlieu] [nvarchar](20) NOT NULL,
	[tenloainguyenlieu] [nvarchar](60) NULL,
 CONSTRAINT [PK__LOAINGUY__FC951B062473981F] PRIMARY KEY CLUSTERED 
(
	[idloainguyenlieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAITHUCDON]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHUCDON](
	[idloaithucdon] [nvarchar](20) NOT NULL,
	[tenloaithucdon] [nvarchar](60) NULL,
	[trangthai] [nvarchar](10) NULL,
 CONSTRAINT [PK__LOAITHUC__884F7D7EEB000553] PRIMARY KEY CLUSTERED 
(
	[idloaithucdon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[idnguyenlieu] [nvarchar](20) NOT NULL,
	[tennguyenlieu] [nvarchar](40) NOT NULL,
	[trangthai] [nvarchar](10) NULL,
	[mota] [nvarchar](250) NULL,
	[soluong] [smallint] NULL,
	[idloainguyenlieu] [nvarchar](20) NULL,
	[donvitinh] [nchar](20) NULL,
	[gianhap] [money] NULL,
 CONSTRAINT [PK__NGUYENLI__658B66A32F7CEFA2] PRIMARY KEY CLUSTERED 
(
	[idnguyenlieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[idnhacungcap] [nvarchar](20) NOT NULL,
	[tennhacungcap] [nvarchar](40) NULL,
	[diachi] [nvarchar](40) NULL,
 CONSTRAINT [PK__NHACUNGC__D4BE439377E65846] PRIMARY KEY CLUSTERED 
(
	[idnhacungcap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[idnhanvien] [nvarchar](20) NOT NULL,
	[tennhanvien] [nvarchar](60) NULL,
	[diachi] [nvarchar](40) NULL,
	[sodienthoai] [nvarchar](24) NULL,
	[email] [nvarchar](40) NULL,
	[luong] [money] NULL,
	[chucvu] [nvarchar](20) NULL,
	[gioitinh] [nvarchar](10) NULL,
	[ngaysinh] [date] NULL,
	[ngaybatdau] [date] NULL,
	[idbophan] [nvarchar](20) NULL,
	[Quyen] [nvarchar](20) NULL,
 CONSTRAINT [PK__NHANVIEN__A703FF016C9682F1] PRIMARY KEY CLUSTERED 
(
	[idnhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Phucvuban]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phucvuban](
	[idban] [nvarchar](20) NULL,
	[idnhanvien] [nvarchar](20) NULL,
	[caphucvu] [nvarchar](20) NULL,
	[SLK] [smallint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 12/30/2019 2:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCDON](
	[idmon] [nvarchar](20) NOT NULL,
	[tenmon] [nvarchar](60) NULL,
	[idloaithucdon] [nvarchar](20) NULL,
	[dongia] [money] NULL,
	[mota] [nvarchar](250) NULL,
	[hinhanh] [nvarchar](250) NULL,
	[idnguyenlieu] [nvarchar](20) NULL,
	[donvitinh] [nvarchar](20) NULL,
 CONSTRAINT [PK_THUCDON] PRIMARY KEY CLUSTERED 
(
	[idmon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BOPHAN]  WITH CHECK ADD  CONSTRAINT [FK_BOPHAN_CHINHANH] FOREIGN KEY([idchinhanh])
REFERENCES [dbo].[CHINHANH] ([idchinhanh])
GO
ALTER TABLE [dbo].[BOPHAN] CHECK CONSTRAINT [FK_BOPHAN_CHINHANH]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([idhoadon])
REFERENCES [dbo].[HOADON] ([idhoadon])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_THUCDON] FOREIGN KEY([idmon])
REFERENCES [dbo].[THUCDON] ([idmon])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_THUCDON]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNHAP_HOADONNHAP] FOREIGN KEY([idhoadonnhap])
REFERENCES [dbo].[HOADONNHAP] ([idhoadonnhap])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CHITIETHOADONNHAP_HOADONNHAP]
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADONNHAP_NGUYENLIEU] FOREIGN KEY([idnguyenlieu])
REFERENCES [dbo].[NGUYENLIEU] ([idnguyenlieu])
GO
ALTER TABLE [dbo].[CHITIETHOADONNHAP] CHECK CONSTRAINT [FK_CHITIETHOADONNHAP_NGUYENLIEU]
GO
ALTER TABLE [dbo].[CHITIETKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHO_KHO] FOREIGN KEY([idkho])
REFERENCES [dbo].[KHO] ([idkho])
GO
ALTER TABLE [dbo].[CHITIETKHO] CHECK CONSTRAINT [FK_CHITIETKHO_KHO]
GO
ALTER TABLE [dbo].[CHITIETKHO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHO_NGUYENLIEU] FOREIGN KEY([idnguyenlieu])
REFERENCES [dbo].[NGUYENLIEU] ([idnguyenlieu])
GO
ALTER TABLE [dbo].[CHITIETKHO] CHECK CONSTRAINT [FK_CHITIETKHO_NGUYENLIEU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BAN] FOREIGN KEY([idban])
REFERENCES [dbo].[BAN] ([idban])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([idkhachhang])
REFERENCES [dbo].[KHACHHANG] ([idkhachhang])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([idnhanvienthanhtoan])
REFERENCES [dbo].[NHANVIEN] ([idnhanvien])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_NHACUNGCAP] FOREIGN KEY([idnhacungcap])
REFERENCES [dbo].[NHACUNGCAP] ([idnhacungcap])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOADONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_HOADONNHAP_NHANVIEN] FOREIGN KEY([idnhanvien])
REFERENCES [dbo].[NHANVIEN] ([idnhanvien])
GO
ALTER TABLE [dbo].[HOADONNHAP] CHECK CONSTRAINT [FK_HOADONNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_BOPHAN] FOREIGN KEY([idbophan])
REFERENCES [dbo].[BOPHAN] ([idbophan])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_BOPHAN]
GO
ALTER TABLE [dbo].[NGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_NGUYENLIEU_LOAINGUYENLIEU] FOREIGN KEY([idloainguyenlieu])
REFERENCES [dbo].[LOAINGUYENLIEU] ([idloainguyenlieu])
GO
ALTER TABLE [dbo].[NGUYENLIEU] CHECK CONSTRAINT [FK_NGUYENLIEU_LOAINGUYENLIEU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([idbophan])
REFERENCES [dbo].[BOPHAN] ([idbophan])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[Phucvuban]  WITH CHECK ADD  CONSTRAINT [FK_Phucvuban_BAN] FOREIGN KEY([idban])
REFERENCES [dbo].[BAN] ([idban])
GO
ALTER TABLE [dbo].[Phucvuban] CHECK CONSTRAINT [FK_Phucvuban_BAN]
GO
ALTER TABLE [dbo].[Phucvuban]  WITH CHECK ADD  CONSTRAINT [FK_Phucvuban_NHANVIEN] FOREIGN KEY([idnhanvien])
REFERENCES [dbo].[NHANVIEN] ([idnhanvien])
GO
ALTER TABLE [dbo].[Phucvuban] CHECK CONSTRAINT [FK_Phucvuban_NHANVIEN]
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_THUCDON_LOAITHUCDON] FOREIGN KEY([idloaithucdon])
REFERENCES [dbo].[LOAITHUCDON] ([idloaithucdon])
GO
ALTER TABLE [dbo].[THUCDON] CHECK CONSTRAINT [FK_THUCDON_LOAITHUCDON]
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_THUCDON_NGUYENLIEU] FOREIGN KEY([idnguyenlieu])
REFERENCES [dbo].[NGUYENLIEU] ([idnguyenlieu])
GO
ALTER TABLE [dbo].[THUCDON] CHECK CONSTRAINT [FK_THUCDON_NGUYENLIEU]
GO
